.img-container {
    width: 100%;
    position: relative;
}

img {
    width: fit-content
}

.username {
    font-size: 1em;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.data-container {
    padding: 0 20px;
}